In [1]:
import pandas as pd
import string
import nltk
from nltk.corpus import stopwords
from nltk.stem import LancasterStemmer, WordNetLemmatizer
from textblob import TextBlob
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
datset = pd.read_csv("email.csv")

In [3]:
datset.head(2)

                                             Message Category
0  Go until jurong point, crazy.. Available only ...      ham
1                      Ok lar... Joking wif u oni...      ham

In [4]:
datset['Message'] = datset['Message'].str.lower()

In [5]:
number = string.digits
sp_char = string.punctuation
def remove_number_sp_char(data):
    new_text = ""
    for i in data :
        if (i not in number) and (i not in sp_char):
            new_text += i
    return new_text
datset['Message'] = datset['Message'].apply(remove_number_sp_char)

In [6]:
# def spelling_correct(data):
#     text  = TextBlob(data)
#     return str(text.correct())
# datset['Message'] = datset['Message'].apply(spelling_correct)

In [7]:
stopwords_list = stopwords.words('english')
def stopwords_remove(data):
    new_text = ""
    for i in word_tokenize(data):
        if i not in stopwords_list :
            new_text = new_text+" "+i
    return new_text[1:]
datset['Message'] = datset['Message'].apply(stopwords_remove)

In [8]:
def Lemmatizer_text(data):
    new_text =""
    for i in word_tokenize(data):
        lem = WordNetLemmatizer()
        text = lem.lemmatize(i,pos="a")
        new_text = new_text + " "+text
    return new_text[1:]
datset['Message'] = datset['Message'].apply(Lemmatizer_text)

In [9]:
tdf1 = TfidfVectorizer(max_features=4000)
new_data = pd.DataFrame(tdf1.fit_transform(datset['Message']).toarray())

In [11]:
pd.concat((new_data,datset['Category']),axis=1)

,0,1,2,3,4,5,6,7,8,9,...,3991,3992,3993,3994,3995,3996,3997,3998,3999,Category
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ham
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ham
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,spam
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ham
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ham
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ham
5569,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ham
5570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ham
5571,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ham
5572,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"{""mode"":""full"""